html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background: #333;
	}
    
a {
	color: #8e9eae;
}

h1 {
	position: absolute;
	margin-left: -1000em;
}

input {
	padding: 3px;
	padding-left: 5px;
}
	
body p {
	color: #8C8C8C;
}
	
header {
	height: 152px;
	margin: 0 0 -152px 0;
	position: relative; z-index: 1;
	padding: 0;
	box-sizing: border-box;
}



#edit-area {
	margin: auto;
	color: #8c8c8c; 
	width: 800px; border: 
	solid 3px #222; 
	background: #1f1f1f; 
	font-size: 26px; 
	padding: 32px;
}

#edit-area table {
	width: 100%;
	color: #8c8c8c;
	text-align: left;
}

#content {
	width: 90%;
	border-left: 1px solid #2b2b2b;
	border-right: 1px solid #2b2b2b;
	background: #191919;
	margin: 0 auto;	
	/*padding: 10px 0 10px 0; */

	min-height: 100%; 
	padding: 162px 0 83px 0;
	}
	
#content h3 a:link, #content h3 a:visited, #content h3 a:active {
	color: #8E9EAE;	
	margin: 0 0 0 20px;
	padding: 0;
	overflow: hidden;
	height: 34px;
	line-height: 34px;
	font-size: 1.2em;
	font-weight: bold;
	}
	
#content table {
	margin-left: 20px;
}

#content th {
	text-align: left;
	color: #8E9EAE;	
	line-height: 34px;
	font-size: 1.2em;
	font-weight: bold;
}
	
#footer {
	height: 73px;
	margin: -75px 0 0 0;
	padding: 0; 
	box-sizing: border-box;
}
		
